@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.nav{
  display: flex;
  justify-content: flex-end;
  padding-right: 15vw;
}
.navSpace a {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  color:green;
  
  text-decoration: none;
}
header{
  display: flex;
  justify-content: space-around;
  background-color: aqua;
}
nav{
  display:flex;
  justify-content: space-around;
  /* position: absolute; */
  /* left: 10%; */
  right: 20%;
  color: green;
}

.manga-grid{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: space-around;
  border-width: thick;
  position: absolute;
  left: 10%;
  right: 10%
}

.manga-card{
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 18em;
  height: 35em;
  background-color: pink;
  border-radius: 0.5em;
  margin: 1em;
  justify-content: space-around;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.527);
  /* color: white; */
  font-family: 'Georgia';
  cursor: pointer;
  /* width: 100%;
  height: 10em; */
  object-fit: center;
  box-shadow: inset 0 0 1em rgb(0, 0, 0);
  transform: scale(1.01);
  /* position: absolute;
  left: 10%; */
}


.container{
  border-spacing: 25%;
}

.form{
margin-top: 5vh;
margin-left: 15vw;
  margin-right: 15vw;
  /* display: flex;
  flex-direction: column; */
  
}
.reviewInputs{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: right; */
}
.reviewText{
  display: flex;
  flex-direction: column;
}

.reviewCards{
  border:rgb(0, 0, 0);
  border-style: solid;
  border-width: 5px;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-bottom: 2vw;
}

.fit {
  max-width: 75vw;
  max-height: 90%;
  border:rgb(0, 0, 0);
  border-style: solid;
  border-width: 5px;
  margin: 1vh;
}

.backButton{
  padding-top: 5vh;
}

.deletebutton{
  margin: 10px;
}

.bannerimage{
  width: 100%;
  background-image: url(https://i.imgur.com/Ej6G8jV.png);
  height: 10vh;
  background-color: purple;
  background-position: center;
}

.leftbanner{
  width: 10vh;
  background-image: url(https://i.imgur.com/YXCtHvf.png);
  height: 100%;
  background-color: purple;
  background-position: left;
  height: 100%;
  width: 10vw;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}


.rightbanner{
  width: 10vh;
  background-image: url(https://i.imgur.com/YXCtHvf.png);
  height: 100%;
  background-color: purple;
  background-position: left;
  height: 100%;
  width: 10vw;
  position:absolute;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
} 


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  */
.card {
  max-width: 250px;
  max-height: 380px;
  border-radius: 4px;
  background-color: #1b1b1b;
  cursor: pointer;
  transition: all 0.2s;
  /* display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows:50% 50%; */
}


.card:hover {
  opacity: 0.8;
}

.card .img-wrapper {
  width: auto;
}

.card img {
  width: 100%;
  height: 100%;
}

.card .info-wrapper {
  padding: 1em;
}
.container-grid {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 1em;
  justify-content: center;
}